<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Admin Panel</title>
</head>
<body>
    <h1>Admin Panel</h1>
    <a href="{{ url_for('subscriptions') }}">Abonnements verwalten</a>
    <h2>Benutzerliste</h2>
    <ul>
        {% for user_id, info in users.items() %}
            <li>{{ user_id }}: {{ info['subscription'] }}</li>
        {% endfor %}
    </ul>
    <a href="{{ url_for('index') }}">Zurück zur Startseite</a>
</body>
</html>
